@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

@page "/"


<div class="row">
    <div class="col-md-4">
        <h2>Chat App</h2>
        <div class="form-group">
            <label>
                Username: <input type="text" class="form-control" @bind="_userName" />
            </label>
        </div>
        <div class="form-group">
            <label>
                Message: <input type="text" class="form-control" @bind="_msg" />
            </label>
        </div>
        <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
    </div>
</div>

<hr />
<ul id="messageList">
    @foreach (var chatMsg in _chatMessages)
    {
        <li>@chatMsg</li>
    }
</ul>



@code{
    private HubConnection _hubConnection;
    private string _userName = "";
    private string _msg = "";
    private List<string> _chatMessages = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chat")).Build();
        _hubConnection.On<string, string>("ReceiveMessage", (user, msg) =>
        {
            var formatMsg = $"{user}:{msg}";
            _chatMessages.Add(formatMsg);
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

    Task Send() => _hubConnection.SendAsync("SendMsg", _userName, _msg);

    public bool IsConnected => _hubConnection.State == HubConnectionState.Connected;

}
