@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/*Blazor Template CSS Above*/
/*Custom CSS Below*/

ul {
    list-style: none;
}

.header {
    background-image: linear-gradient(180deg, #3a0647 0%, rgb(5, 39, 103) 100%);
    color: white;
    height: 7vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .header h1 {
        float: left;
        padding-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 4vh;
    }

    .header h4 {
        float: right;
        text-align: right;
        padding-right: 20px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 2vh;
    }

.chat {
    display: flex;
    height: 85vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.chatBox {
    width: 75vw;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(5, 39, 103);
    color: white;
}

.chatList {
    padding: 0px;
}

.joinedMsg {
    text-align: center;
    background: forestgreen;
}

.leftMsg {
    text-align: center;
    background: indianred;
}

.sentMsg {
    text-align: right;
    padding-right: 20px;
    overflow-wrap: break-word;
}

.recMsg {
    padding-left: 20px;
    overflow-wrap: break-word;
}

.userList {
    width: 25vw;
}

    .userList h4 {
        font-size: 2vh;
        padding-left: 10px;
    }

    .userList ul {
        font-size: 2vh;
        padding-left: 20px;
    }

.msgbox {
    display: flex;
    height: 8vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

    .msgbox input {
        height: 8vh;
    }